
body {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
}

img {
    width: 95%;
    height: auto;
    border: 5px solid black;
}

.internal {
    display: flex;
    height: 100%;
}

.playArea{
    flex: 3;
    padding: 10px;
    margin: 5px;
}

.control {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    align-items: center;
}